*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#ff7a00;
overflow-x:hidden;
}

/* NAVBAR */

.navbar{
position:fixed;
top:0;
left:0;
width:100%;
height:80px;
padding:0 30px;
display:flex;
justify-content:space-between;
align-items:center;
background:rgba(255,255,255,0.15);
backdrop-filter:blur(20px);
z-index:999;
}

.logo{
font-size:35px;
font-weight:800;
color:white;
}

.nav-btn{
padding:14px 25px;
background:white;
color:black;
text-decoration:none;
border-radius:50px;
font-weight:700;
}

/* HERO */

.hero{
width:100%;
height:100vh;
background:url('https://images.unsplash.com/photo-1513104890138-7c749659a591');
background-size:cover;
background-position:center;
position:relative;
display:flex;
justify-content:center;
align-items:center;
}

.overlay{
position:absolute;
inset:0;
background:rgba(0,0,0,0.45);
}

.hero-content{
position:relative;
z-index:2;
text-align:center;
color:white;
}

.hero-content h1{
font-size:90px;
font-weight:800;
}

.hero-content p{
font-size:28px;
margin:20px 0;
}

.hero-buttons{
display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;
}

.hero-btn,
.book-btn{
padding:18px 35px;
border:none;
border-radius:50px;
font-size:18px;
font-weight:700;
cursor:pointer;
text-decoration:none;
transition:0.3s;
}

.hero-btn{
background:#ff7a00;
color:white;
}

.book-btn{
background:white;
color:black;
}

.hero-btn:hover,
.book-btn:hover{
transform:translateY(-5px);
}

/* MODAL */

.modal{
position:fixed;
inset:0;
background:rgba(0,0,0,0.7);
display:none;
justify-content:center;
align-items:center;
padding:20px;
z-index:9999;
}

.modal-box{
background:white;
width:100%;
max-width:450px;
padding:35px;
border-radius:30px;
animation:show .3s ease;
}

@keyframes show{

from{
transform:scale(.7);
opacity:0;
}

to{
transform:scale(1);
opacity:1;
}

}

.modal-box h2{
font-size:35px;
margin-bottom:25px;
text-align:center;
color:#ff7a00;
}

.input-box{
margin-bottom:20px;
}

.input-box label{
display:block;
margin-bottom:10px;
font-weight:600;
}

.input-box input,
.input-box select{
width:100%;
padding:15px;
border-radius:15px;
border:2px solid #ddd;
font-size:17px;
outline:none;
}

.price{
font-size:40px;
font-weight:800;
text-align:center;
color:#ff7a00;
margin:25px 0;
}

.modal-buttons{
display:flex;
gap:15px;
}

.confirm-btn,
.cancel-btn{
flex:1;
padding:15px;
border:none;
border-radius:15px;
font-size:18px;
font-weight:700;
cursor:pointer;
}

.confirm-btn{
background:#ff7a00;
color:white;
}

.cancel-btn{
background:#ddd;
}

/* MOBILE */

@media(max-width:768px){

.hero-content h1{
font-size:50px;
}

.hero-content p{
font-size:20px;
}

.hero-buttons{
flex-direction:column;
align-items:center;
}

.modal-box{
padding:25px;
}

}